<div class="container">
  <h3>Chat Logs</h3>
  <div *ngFor="let msg of messages">
    <div
      *ngIf="msg.senderId === loggedInUser.userId"
      class="text-right d-flex flex-row-reverse align-items-center"
    >
      <ngx-avatar
        name="
      {{ loggedInUser.firstName + ' ' + loggedInUser.lastName }}"
      ></ngx-avatar>
      <div class="d-flex flex-column">
        <small>{{
          loggedInUser.firstName + " " + loggedInUser.lastName
        }}</small>
        <p>{{ msg.messageText }}</p>
      </div>
    </div>

    <div
      *ngIf="msg.senderId === chatWith.userId"
      class="text-left d-flex flex-row align-items-center"
    >
      <ngx-avatar name="{{ chatWith.name }}"></ngx-avatar>

      <div class="d-flex flex-column">
        <small>{{ chatWith.name }}</small>
        <p>{{ msg.messageText }}</p>
      </div>
    </div>
  </div>
  <div id="chat" class="form-group floatingMsg">
    <textarea
      class="form-control"
      rows="3"
      cols="24"
      [(ngModel)]="message"
    ></textarea
    ><br />
    <button
      class="btn btn-primary form-control"
      (click)="handleSendMessage()"
      [disabled]="message.length === 0"
    >
      Send message
    </button>
  </div>
</div>
